body{
    background-color: pink;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 168, 202);
    text-align: center;
  

}
form{
    padding: 70px 0;
    margin:auto;
    text-align: center;
    
  }
h1{
 color:rgb(85, 11, 85);
 size: 50px;
 text-align: center;
}
.recipe1{
  text-align: center;
  font-family: cursive;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  margin-left: 160px; /* Same as the width of the sidenav */
  margin-right: 20px;
  padding: 0px 10px;
}
.recipe2{
  text-align: center;
  font-family: cursive;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  margin-left: 160px; /* Same as the width of the sidenav */
  margin-right: 20px;
  padding: 0px 10px;
}
.recipe3{
  text-align: center;
  font-family: cursive;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  margin-left: 160px; /* Same as the width of the sidenav */
  margin-right: 20px;
  padding: 0px 10px;
}
.center{
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
button {
  height: 50px;
  width: 100px;
  font-size: large;
  margin: 0 auto;
  display: block;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  div{
    text-align: center;
  }
  